# LangSmith Configuration
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGSMITH_API_KEY=
LANGCHAIN_PROJECT=desafio-otimizacao-prompts

USERNAME_LANGSMITH_HUB=betinhoneres

# OpenAI Configuration
OPENAI_API_KEY=

# Google Gemini Configuration
#GOOGLE_API_KEY=

# LLM Configuration
#LLM_PROVIDER=google
#LLM_MODEL=gemini-2.5-flash
#EVAL_MODEL=gemini-2.5-flash

LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini
EVAL_MODEL=gpt-4o